<!doctype HTML>
<html>
	<head>
		<title>Icons Preview!</title>
		<meta charset="utf-8">
		<style>
			body {
				background-image: linear-gradient(#eee 25%, transparent 25%, transparent), linear-gradient(#eee 25%, transparent 25%, transparent), linear-gradient(transparent 75%, #eee 75%), linear-gradient(transparent 75%, #eee 75%);
				width: 100%;
				background-size: 10px 10px;
			}
		</style>
		<script>
			{{{loaderText}}}
{{#with cssFiles}}
			grunticon(["{{svg}}", "{{png}}", "{{fallback}}"]);
		</script>
		<noscript><link href="{{fallback}}" rel="stylesheet"></noscript>
{{/with}}
	</head>
	<body>

		<h1>CUSTOM PREVIEW - you can change this in the previewTemplate option</h1>
		{{#each icons}}
			{{#with this}}
			<pre><code>{{prefix}}{{name}}:</code></pre><div class="{{prefixClass}}{{name}}" style="width: {{width}}px; height: {{height}}px;" ></div><hr/>
			{{/with}}
		{{/each}}

		<h2>Embedded SVG option</h2>
		<p>(The <code>data-grunticon-embed</code> attribute tells grunticon to inject SVG inline):</p>
		<pre><code>icon-Home_Media:</code></pre><div class="icon-Home_Media" data-grunticon-embed style="width: {{width}}px; height: {{height}}px;" ></div><hr/>



		<pre><code>icon-cat:</code></pre><div class="icon-cat" data-grunticon-embed style="width: {{width}}px; height: {{height}}px;" ></div><hr/>

		<pre><code>icon-gradients-flat-opacity:</code></pre><div class="icon-gradients-flat-opacity" data-grunticon-embed style="width: {{width}}px; height: {{height}}px;" ></div><hr/>

		<style>
			.icon-gradients-flat-opacity.alt .letter-a {
				fill: red;
			}
		</style>

		<pre><code>icon-gradients-flat-opacity (styled variation):</code></pre><div class="icon-gradients-flat-opacity alt" data-grunticon-embed style="width: {{width}}px; height: {{height}}px;" ></div><hr/>


		<h2>Templated "Use" SVG option</h2>
		<p>(The <code>data-grunticon-use</code> attribute tells grunticon to create an SVG as a `defs` symbol for reuse, and inject a <code>use</code> reference to that icon inside elements referencing that symbol):</p>
		<pre><code>icon-Home_Media:</code></pre><div class="icon-Home_Media" data-grunticon-use style="width: {{width}}px; height: {{height}}px;" ></div><hr/>


		<pre><code>icon-gradients-flat-opacity:</code></pre><div class="icon-gradients-flat-opacity" data-grunticon-use style="width: {{width}}px; height: {{height}}px;" ></div><hr/>


</body>
</html>
