<!doctype HTML>
<html>
	<head>
		<title>Icons Preview!</title>
		<script>
			{{{loaderText}}}
			grunticon(["icons.data.svg.css", "icons.data.png.css", "icons.fallback.css"]);
		</script>
	<noscript><link href="icons.fallback.css" rel="stylesheet"></noscript>
	</head>
	<body>
		{{#each icons}}
			{{#with this}}
			<pre><code>.icon-{{name}}:</code></pre><div class="icon-{{name}}" style="width: {{width}}px; height: {{height}}px;" ></div><hr/>
			{{/with}}
		{{/each}}
</body>
</html>
