<!doctype HTML>
<html>
	<head>
		<title>Icons Preview!</title>
		<meta charset="utf-8">
		<style>
			body {
				background-image: linear-gradient(#eee 25%, transparent 25%, transparent), linear-gradient(#eee 25%, transparent 25%, transparent), linear-gradient(transparent 75%, #eee 75%), linear-gradient(transparent 75%, #eee 75%);
				width: 100%;
				background-size: 10px 10px;
			}
		</style>
		<script>
			{{{loaderText}}}
{{#with cssFiles}}
			grunticon(["{{svg}}", "{{png}}", "{{fallback}}"]);
		</script>
		<noscript><link href="{{fallback}}" rel="stylesheet"></noscript>
{{/with}}
	</head>
	<body>
		<h1>CUSTOM PREVIEW - you can change this in the previewTemplate option</h1>
		{{#each icons}}
			{{#with this}}
			<pre><code>{{prefix}}{{name}}:</code></pre><div class="{{prefixClass}}{{name}}" style="width: {{width}}px; height: {{height}}px;" ></div><hr/>
			{{/with}}
		{{/each}}
</body>
</html>
